<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YMSwiftAPP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>324CC55A1DEFEC2000869596</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>324CC5731DEFEC2000869596</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>324CC57E1DEFEC2000869596</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
